.input {
  margin-top: 50px;
}
.dbBtn {
  margin-top: 50px;
  border-radius: 5px;
  background-color: #a0a6b2;
}

.navbarDemo {
  background-color: rgb(245, 245, 245);
  height: 50px;
}
#ik {
  padding: 15px;
  text-align: center;
  height: min-content;
  font-size: larger;
}
.searchUl {
  margin-top: 50px;
}
.searchUl li {
  list-style: none;
  margin-bottom: 10px;
  background-color: rgb(209, 209, 216);
  border-radius: 5px;
  height: max-content;
  padding-left: 10px;
  cursor: pointer;
}
.searchUl li:hover {
  background-color: rgba(123, 123, 136, 0.663);
}
